<div class="products">
    <div class="row">
        
        <%= erb :products_aside %>

        <section id="products-list" class="col-md-9">
            <h3>Listado de productos</h3>
            <ul class="list-group">
            </ul>
        </section>
    </div>
</div>


