<div class="input-group">
    <input type="text" id="product-name" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="new-product">Añadir</button>
    </span>
</div>

