<div class="products">
    <div class="row">
        
        <%= erb :products_aside %>

        <section id="products-list" class="col-md-9">
            <ul></ul>
        </section>
    </div>
</div>


