<header id="product-header">
    <h1><%= @product.name %></h1>
    <p><%= @product.creation_date %></p>
    <% @product.indicators.each do |indicator| %>
        <%= indicator.name %>
        <span class="indicator <%= indicator.state %>" ></span>
    <% end %>
</header>
